<div class="user-header text-center">
  <h1 class="title-medium">
    <%= @user.name %>
  </h1>

  <div class='user-image-div'>
    <%= image_tag user_avatar(@user), alt: '[Picture of me]' %>
  </div>

  <h2 class='title-small buffer-both'>
    @<%= @user.username %>
  </h2>
  <div class='user-ask-button container text-center'>
    <%= link_to 'Ask me', '', class: 'button button-light', id: 'ask-button' %>
  </div>
</div>

<div class='user-question-form-div column-1-4 column-1-4-right' id='ask-form'>
  <div class='user-question-form buffer-both'>
    <div class='form'>
      <%= form_for @new_question do |f| %>
        <%= f.hidden_field :user_id %>

        <div class="form-field">
          <%= f.label "Your question for @#{@user.username}", class: 'form-label' %>
          <%= f.text_area :text, class: 'form-textarea' %>
        </div>

        <div class="form-action">
          <%= submit_tag 'Ask a question', class: 'button button-small button-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="column-3-4">
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>

<div class="column-3-4">
  <div class='question-content'>
    <div class='question-text text-lead content'>
      <h1><%= "User has #{@questions.count} #{sklonenie(@questions.count, 'vopros', 'voprosa', 'voprosov')}" %></h1>
    </div>
  </div>
</div>
